html, body {
  min-height: 100%;
  min-width: 100%;
  margin: 0;
  padding: 0;
  display: table;
  position: relative; }

* {
  font-family: menlo, sans-serif; }

.sr-only {
  display: none; }

p {
  font-size: 14px; }

html, body {
  height: 100%;
  position: relative;
  background: #181d27; }

main {
  padding-bottom: 60px;
  background: #f2f2f2; }
  main.landing-page {
    padding-bottom: 0; }

header {
  background: #000;
  padding: 5px 0; }
  header .site-name {
    text-align: center;
    padding: 10px 5px; }
    header .site-name a {
      color: #D0DB97;
      transition: .3s; }
      header .site-name a:hover {
        color: #FFC900;
        transition: .3s;
        text-decoration: none; }
  header nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex: 1 1 0;
    max-width: 1400px;
    margin: auto; }
    header nav ul {
      list-style: none;
      padding: 0;
      display: flex;
      justify-content: space-around;
      flex: auto;
      width: 33%;
      margin-bottom: 0; }
      header nav ul li {
        font-size: 14px;
        padding: 5px; }
        header nav ul li a {
          color: #fff;
          text-decoration: none;
          position: relative;
          transition: .3s ease-in-out; }
          header nav ul li a:after {
            content: '';
            display: block;
            height: 2px;
            width: 0%;
            position: absolute;
            background: transparent;
            transition: .3s ease-in-out; }
          header nav ul li a:hover {
            color: #FFC900;
            transition: .3s ease-in-out;
            text-decoration: none; }
            header nav ul li a:hover:after {
              background: #FFC900;
              width: 100%;
              transition: .3s ease-in-out; }
  header .list-name {
    margin-top: 4px; }
    header .list-name a {
      color: #D0DB97;
      transition: .3s; }
      header .list-name a:hover {
        color: #FFC900;
        text-decoration: none;
        transition: .3s; }
  header .nav-header {
    display: flex;
    justify-content: space-between; }
    header .nav-header .collapse-button {
      border: 0;
      background: transparent;
      position: relative;
      width: 45px;
      padding: 0; }
      header .nav-header .collapse-button .burger-line {
        display: inline-block;
        width: 23px;
        height: 2px;
        position: absolute;
        left: 10.5px;
        background: #fff; }
        header .nav-header .collapse-button .burger-line:nth-child(2) {
          top: 14px; }
        header .nav-header .collapse-button .burger-line:last-child {
          bottom: 12px; }
  header .collapsible-nav.collapsing {
    height: 0;
    overflow-y: hidden;
    transition: 0.3s; }
  @media (min-width: 993px) {
    header .nav-header {
      display: none; } }
  @media (max-width: 992px) {
    header .site-name {
      display: block; }
    header .list-name {
      display: none;
      padding: 0; }
    header nav ul {
      justify-content: space-around; } }
  @media (max-width: 768px) {
    header .site-name {
      text-align: left; }
    header nav ul {
      flex-direction: column; }
      header nav ul li {
        margin-bottom: 5px; }
        header nav ul li.list-name {
          display: none; }
        header nav ul li:last-child {
          margin-bottom: 0; } }
  @media (max-width: 550px) {
    header nav {
      flex-direction: column; }
      header nav ul {
        width: 100%;
        margin-bottom: 5px; } }

.landing-page {
  background: #181d27;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  left: 0;
  position: relative;
  top: 0;
  width: 100%; }

@keyframes vertHeader {
  from {
    height: 0; }
  to {
    height: calc(78% - 1px); } }

@keyframes shrinkVertSlide {
  from {
    height: 100%; }
  to {
    height: 0; } }

@keyframes lgExpandVertSlide {
  from {
    height: 0%; }
  to {
    height: calc(85%); } }

@keyframes smExpandVertSlide {
  from {
    height: 0%; }
  to {
    height: calc(100% + 10px); } }

@keyframes sideSlide {
  from {
    height: 3px;
    width: 0; }
  to {
    height: 3px;
    width: 50px; } }

@keyframes vertTextReveal {
  from {
    height: 100%; }
  to {
    height: 0; } }

@keyframes sideTextReveal {
  from {
    width: 100%; }
  to {
    width: 0; } }
  .landing-page .landing-content {
    max-width: 1200px;
    margin: auto;
    position: relative;
    width: 80%; }
    .landing-page .landing-content h1 {
      margin-bottom: 50px;
      position: relative; }
      .landing-page .landing-content h1 strong {
        font-weight: 500;
        color: #D0DB97; }
      .landing-page .landing-content h1::after {
        animation: vertTextReveal 1s forwards;
        animation-delay: .7s;
        background: #181d27;
        content: "";
        display: block;
        height: 100%;
        position: absolute;
        right: 0;
        bottom: 0;
        width: 100%; }
    .landing-page .landing-content .landing-nav::before {
      animation: vertHeader 1s forwards;
      animation-delay: 1s;
      background: #fff;
      content: "";
      display: block;
      height: 0;
      left: 3px;
      position: absolute;
      top: 18%;
      width: 3px; }
    .landing-page .landing-content .landing-nav .portfolio-section {
      padding-left: 70px; }
      .landing-page .landing-content .landing-nav .portfolio-section a {
        color: #fff;
        text-decoration: none;
        transition: .3s; }
        .landing-page .landing-content .landing-nav .portfolio-section a:hover, .landing-page .landing-content .landing-nav .portfolio-section a:focus {
          letter-spacing: 1.25px;
          transition: .3s; }
      .landing-page .landing-content .landing-nav .portfolio-section .list-head {
        font-size: 36px;
        color: #69B578;
        position: relative; }
        .landing-page .landing-content .landing-nav .portfolio-section .list-head a {
          color: #69B578;
          display: block; }
        .landing-page .landing-content .landing-nav .portfolio-section .list-head::after {
          animation: sideTextReveal 4s forwards;
          animation-delay: 1.9s;
          background: #181d27;
          content: "";
          display: block;
          height: 100%;
          position: absolute;
          right: 0;
          bottom: 0;
          width: 100%; }
        .landing-page .landing-content .landing-nav .portfolio-section .list-head::before {
          animation: sideSlide 1s forwards;
          animation-delay: 1.75s;
          display: block;
          content: "";
          position: absolute;
          height: 3px;
          background: #fff;
          top: 50%;
          left: -65px; }
      .landing-page .landing-content .landing-nav .portfolio-section ul {
        list-style: none;
        padding: 0;
        padding-left: 70px;
        position: relative; }
        .landing-page .landing-content .landing-nav .portfolio-section ul::before {
          display: block;
          content: "";
          position: absolute;
          height: 0;
          background: #fff;
          top: -10px;
          width: 3px;
          left: 3px; }
        .landing-page .landing-content .landing-nav .portfolio-section ul.work::before {
          animation: lgExpandVertSlide .5s forwards;
          animation-delay: 2.8s; }
        .landing-page .landing-content .landing-nav .portfolio-section ul.about::before {
          animation: smExpandVertSlide .5s forwards;
          animation-delay: 2.8s; }
        .landing-page .landing-content .landing-nav .portfolio-section ul li {
          margin: 15px 0;
          position: relative; }
          .landing-page .landing-content .landing-nav .portfolio-section ul li::before {
            animation: sideSlide 1s forwards;
            animation-delay: 3.25s;
            background: #fff;
            content: "";
            display: block;
            left: -65px;
            top: 11px;
            position: absolute; }
          .landing-page .landing-content .landing-nav .portfolio-section ul li::after {
            animation: sideTextReveal 4s forwards;
            animation-delay: 3.7s;
            background: #181d27;
            content: "";
            display: block;
            height: 100%;
            position: absolute;
            right: 0;
            bottom: 0;
            width: 100%; }
          .landing-page .landing-content .landing-nav .portfolio-section ul li .project-title {
            display: block;
            font-size: 18px; }
          .landing-page .landing-content .landing-nav .portfolio-section ul li .org {
            font-size: 14px;
            display: block;
            margin-top: 5px;
            padding-bottom: 10px;
            color: #4aa057; }
    @media (max-width: 1250px) {
      .landing-page .landing-content .landing-nav::before {
        display: none; }
      .landing-page .landing-content .landing-nav .portfolio-section .list-head::before {
        animation: none;
        display: none; }
      .landing-page .landing-content .landing-nav .portfolio-section ul {
        animation: expandVertSlide 1s forwards;
        animation-delay: 1s; }
        .landing-page .landing-content .landing-nav .portfolio-section ul:before {
          display: none; }
      .landing-page .landing-content .landing-nav .portfolio-section {
        padding-left: 0; } }

.project-page-header {
  background: #181d27;
  text-align: center;
  color: white;
  min-height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px; }
  .project-page-header .page-title {
    margin-bottom: 20px;
    font-size: 35px; }
  .project-page-header .sub-page-title {
    line-height: 32px; }

.project-page {
  max-width: 900px;
  margin: 40px auto;
  /* entire container, keeps perspective */ }
  .project-page p {
    text-align: center; }
    .project-page p a {
      font-weight: 900;
      color: #000; }
  .project-page .project-head {
    text-align: center;
    margin: 80px auto 50px auto; }
    .project-page .project-head .project-title {
      background: #084887;
      color: #fff;
      font-size: 22px;
      letter-spacing: 1px;
      padding: 4px 40px; }
    .project-page .project-head .focus {
      display: block;
      font-weight: 600;
      font-size: 14px;
      margin-top: 10px; }
  .project-page .graph-table-container {
    padding: 20px;
    padding-bottom: 5px;
    border-radius: 15px;
    margin: 40px 0;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; }
    @media (max-width: 768px) {
      .project-page .graph-table-container {
        padding: 20px 0; } }
    .project-page .graph-table-container .bmw-sample-container .graph-header {
      display: flex;
      justify-content: space-between;
      margin: 4px 4px 20px 4px; }
      @media (max-width: 992px) {
        .project-page .graph-table-container .bmw-sample-container .graph-header {
          flex-direction: column;
          justify-content: flex-start;
          text-align: center; }
          .project-page .graph-table-container .bmw-sample-container .graph-header .dropdowns {
            width: 100%;
            justify-content: center;
            margin-top: 10px; } }
      .project-page .graph-table-container .bmw-sample-container .graph-header .graph-title {
        font-size: 18px;
        line-height: 40px; }
      .project-page .graph-table-container .bmw-sample-container .graph-header .dropdowns {
        display: flex; }
        .project-page .graph-table-container .bmw-sample-container .graph-header .dropdowns .dropdown:last-child {
          margin-left: 10px; }
        .project-page .graph-table-container .bmw-sample-container .graph-header .dropdowns .dropdown .dropdown-toggle {
          background: #e5e5e5;
          color: #000;
          width: 140px;
          text-align: left;
          position: relative;
          padding: 4px 20px 4px 15px;
          border: solid 3px transparent; }
          .project-page .graph-table-container .bmw-sample-container .graph-header .dropdowns .dropdown .dropdown-toggle:after {
            border-left: 0;
            border-right: 0;
            border-top: 0;
            border-bottom: 0;
            background: url("./../images/right-chevron.svg");
            background-size: cover;
            position: absolute;
            right: 15px;
            height: 15px;
            width: 15px;
            top: 9px;
            transform: rotate(90deg); }
          .project-page .graph-table-container .bmw-sample-container .graph-header .dropdowns .dropdown .dropdown-toggle.filtered-data {
            border-color: #000; }
        .project-page .graph-table-container .bmw-sample-container .graph-header .dropdowns .dropdown .dropdown-menu {
          max-height: 400px;
          overflow-y: scroll; }
    .project-page .graph-table-container .bmw-table {
      margin-bottom: 20px;
      text-align: center;
      position: relative; }
  .project-page .flip-btn {
    margin: auto;
    display: block;
    padding: 5px 25px;
    margin-bottom: 15px;
    border: solid 2px #000; }
  .project-page .flip-container {
    perspective: 1000px; }
    .project-page .flip-container .flipped.flipper, .project-page .flip-container .flip-container.hover .flipper {
      transform: rotateY(180deg); }
    .project-page .flip-container .flipper {
      transition: 1s;
      transform-style: preserve-3d;
      position: relative; }
  .project-page .flip-container, .project-page .front, .project-page .back {
    width: 100%;
    height: 450px;
    overflow: auto; }
    @media (max-width: 992px) {
      .project-page .flip-container, .project-page .front, .project-page .back {
        height: 500px; } }
    @media (max-width: 550px) {
      .project-page .flip-container, .project-page .front, .project-page .back {
        height: 530px; } }
  .project-page .front, .project-page .back {
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: 0.6s;
    transition: 0.6s;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    position: absolute;
    top: 0;
    left: 0; }
  .project-page .front {
    z-index: 2;
    /* for firefox 31 */
    transform: rotateY(0deg); }
  .project-page .back {
    transform: rotateY(180deg); }
  .project-page .copy-section {
    margin: 60px auto 100px auto; }
  .project-page .challenge-head, .project-page .solution-head, .project-page .section-head {
    font-size: 22px;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 40px; }
  .project-page .challenge {
    background: #ccc;
    color: #000;
    padding: 20px 40px;
    border-radius: 20px;
    margin: 40px -40px; }
    @media (max-width: 768px) {
      .project-page .challenge {
        margin-right: 0;
        margin-left: 0; } }
    .project-page .challenge .solution-head {
      margin-top: 40px; }
    .project-page .challenge .graph-table-container {
      background: white; }
  .project-page .lesson {
    margin-bottom: 30px; }
    .project-page .lesson .lesson-head {
      text-align: center;
      font-size: 16px;
      margin-bottom: 8px; }
  .project-page .screenshot-container {
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 20px;
    margin-top: 20px;
    margin-bottom: -20px; }
    .project-page .screenshot-container.copy-image {
      margin-top: 40px;
      margin-bottom: -30px; }
    .project-page .screenshot-container .project-image {
      width: 100%;
      margin: 10px auto; }
    .project-page .screenshot-container .caption {
      font-size: 12px;
      text-align: center; }

.about-page {
  background: #181d27;
  height: calc(100% - 40px); }
  .about-page .about-name {
    text-align: center;
    padding: 20px;
    padding-top: 60px;
    margin-bottom: 30px; }
    .about-page .about-name h1 {
      color: #fff; }
    .about-page .about-name .pronounce {
      display: block;
      color: #69B578; }
  .about-page .about-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center; }
  .about-page p {
    color: #fff; }
  .about-page .about-section {
    max-width: 900px;
    color: white;
    margin: 20px auto;
    padding: 0 40px;
    margin-bottom: 50px; }
    .about-page .about-section:last-child {
      margin-bottom: 0; }
    .about-page .about-section .section-head {
      font-size: 22px;
      color: #D0DB97;
      margin-bottom: 10px; }
    .about-page .about-section ul {
      list-style: none;
      position: relative; }
      .about-page .about-section ul::before {
        animation-delay: 1s;
        background: #fff;
        content: "";
        display: block;
        height: calc(85%);
        left: 3px;
        position: absolute;
        top: 0;
        width: 3px; }
      @media (max-width: 768px) {
        .about-page .about-section ul:before {
          display: none; } }
      .about-page .about-section ul li {
        margin-bottom: 15px;
        position: relative;
        padding-left: 10px; }
        .about-page .about-section ul li:last-child {
          margin-bottom: 0; }
        .about-page .about-section ul li::before {
          background: #fff;
          content: "";
          display: block;
          height: 3px;
          left: -35px;
          top: 11px;
          width: 30px;
          position: absolute; }
        .about-page .about-section ul li a {
          color: #FFC900; }

footer {
  background: #181d27;
  padding: 10px 20px;
  position: absolute;
  bottom: 0;
  width: 100%; }
  footer .footer-content {
    display: flex;
    color: white;
    justify-content: space-between;
    max-width: 1400px;
    margin: auto; }
    footer .footer-content #backToTop {
      background: transparent;
      color: white;
      padding-left: 40px;
      position: relative;
      border: solid 1px #fff;
      border-radius: 5px;
      transition: .3s; }
      footer .footer-content #backToTop::after {
        display: block;
        content: '\2039';
        background-size: cover;
        position: absolute;
        height: 15px;
        width: 15px;
        transform: rotate(90deg);
        color: white;
        left: 30px;
        font-size: 30px;
        top: 3.5px;
        transition: .3s; }
      footer .footer-content #backToTop:hover {
        background: white;
        color: black;
        transition: .3s;
        border-color: black; }
        footer .footer-content #backToTop:hover::after {
          color: black;
          transition: .3s; }
    @media (max-width: 600px) {
      footer .footer-content {
        flex-direction: column;
        text-align: center; }
        footer .footer-content #backToTop {
          margin-top: 8px; }
          footer .footer-content #backToTop::after {
            left: 33%;
            top: 6px; } }
